/*@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600);*/
/*@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,500,700);*/
/*@import url(https://fonts.googleapis.com/css?family=Orbitron:500,700,900);*/
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;700&display=swap');

/*$lightgray: #c3c4c6;*/
/*$brack: #2b2320;*/
/*$wolf: #878880;*/
/*$ruby: #d92214;*/
/*$shadow: #13110c;*/

.rotate {
/*    -moz-animation: spin-horizontal 5s infinite linear;*/
/*    -o-animation: spin-horizontal 5s infinite linear;*/
/*    -webkit-animation: spin-horizontal 5s infinite linear;*/
    animation: spin-horizontal 5s linear;
}
@keyframes spin-horizontal {
    0% {transform: rotateY(0deg);}
    100% {transform: rotateY(360deg);}
}
#body {
    background-image: url(../img/konami-start.gif);
    min-height: 100vh;
    max-height: 100vh;
    background-size: 100vw 100vh;
    overflow: hidden;
    font-family: 'Orbitron', sans-serif;
}
#input {
    background: silver;
	display: block;
    margin-left: 2vw;
}
#codeHint {
    color: aqua;
    align-self: center;

}
#codeHintDiv{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
#spinning-logo {
    margin-top: 5vh;
    margin-left: 9%;
    border-width: 3rem;
    border-radius: 30px;
    box-shadow: 0 0 7px 7px black;
    width: 80vw;
	position: absolute;
}
#pressStart {
/*    margin-top: 72vh;*/
/*    margin-right: 24.5vw;*/
/*    margin-left: 25.3vw;*/
/*    padding-top: 8vh;*/
/*    padding-bottom: 5vh;*/
	position: relative;
	bottom: -75vh;
    height: 20vh;
    /*uncomment below to see click-area for testing*/
	/*border: thick solid black;*/
}
.hidden{
    display: none;
}



h1{
    top:52px;
    height:auto;
    border-top:3px solid #fff;
    border-bottom:3px solid #fff;
    padding:17px 0;
    text-align:left;
    font-weight:bold;
    font-size:18px;
    letter-spacing:1.5px;
    text-transform:uppercase;
}
p , h1{
    margin:0 auto;
    width:625px;
    color:#fff;
    display:block;
    position:relative;
}
p{
    top:42px;
    text-align:center;
    border:1px solid rgba(255,255,255,.3);
    padding:16px 0;
    text-shadow:0 1px 0 rgba(0,0,0,.2);
}
p a{
    color:#eb3723;
    text-decoration:none;
    text-shadow:0 1px 0 rgba(255,255,255,.3)
}
#controller{
    text-align:center;
    background-color:#2b2320;
	border:12px solid #dcdede;
    position: absolute;
	width:90.5vw;
    height:24vh;
    margin:90px auto 0 auto;
    top:50.3vh;
    box-shadow: 0 12px 12px 0 rgb(0 0 0 / 55%), #f5f6f5 0 -0.4vh 0 0;
    border-radius: 2vw;
}
#mainbuttons{
    position: absolute;
    left: 61vw;
    top: 16.5vh;
    /*position: absolute;*/
    /*left: 15.7rem;*/
    /*top: 9rem;*/
}
.a-container, .b-container{
    background: #dcdede;
    display: inline-block;
    padding: 1vw;
    border-radius: 1vh;
    box-shadow: 0px -2px 0px 0px whitesmoke;
}
.a, .b{
    background: #d92214;
    border-radius: 50%;
    cursor: pointer;
    width: 45px;
    height: 45px;
    box-shadow: 0 0.5vw 2px 0 black;
    border: solid black 0.01vw;
}
/*.a:hover, .b:hover{*/
/*    box-shadow: inset 0 0 28px 2px #f46c5d;*/
/*}*/

.a:active, .b:active{
    box-shadow: inset 0 0 28px 2px rgba(0,0,0,.5)
}
.a::after, .b::after{
    position: absolute;
    bottom: 2vh;
    text-transform: uppercase;
    color: black;
    font-family: arial;
    font-weight: bold;
}
.a::after{
    content: 'a';
    left: 5.3vw;
    top: 2.6vh;
}
.b::after{
    content: 'b';
    right: 5vw;
    top: 2.5vh;
}

#selections-buttons{
    display: inline-block;
    position: relative;
    top: 1vh;
    width: 37vw;
}
#selections-buttons-div{
    background: #c3c4c6;
    box-shadow: inset 0 2px 7px 0;
    width: 35vw;
    height: 3.5vh;
    margin-top: -1vh;
    border: 1vw solid #c3c4c6;
}
#selections-buttons-div-div{
    /*border: 1px solid black;*/
}

.row{
    margin-bottom: 10px;
    background: #878880;
    border-radius: 5px;
    height: 18px;
}

/*#textStyleAndPositionOverride .*/
#selectStartFont{
	text-transform:uppercase;
    font-size: 0.8rem;
    color:#d92214;
    font-weight:bold;
    display:inline-block;
    position:relative;
    left: -4px;
    white-space: nowrap;
    justify-content: space-between;
}

/*.start{*/
/*    position:relative;*/
/*    right: -4px;*/
/*}*/

.start-button{
    position: absolute;
    background: #2b2320;
    margin-top: 0.5rem;
    cursor: pointer;
    width: 2.5rem;
    height: 1rem;
    border-radius: 1rem;
    right: 1rem;
    box-shadow: #13110c 0 3px 2px 0, #2b232069 0 -1px 0 0;
    top: 5.1rem;
}
.select-button{
    position: absolute;
    background: #2b2320;
    margin-top: 0.3rem;
    cursor: pointer;
    width: 2.5rem;
    height: 1rem;
    border-radius: 1rem;
    left: 1rem;
    top: 5.1rem;
    box-shadow: #13110c 0 3px 2px 0, #2b232069 0 -1px 0 0;
}
.start-button:active , .select-button:active{
    box-shadow:inset 0 0 12px 0 rgba(0,0,0,.9)
}
#directional-buttons{
    position: absolute;
    top: 7vh;
    left: 0;
}
.middle{
    position: absolute;
    background: #484a49;
    border-radius: 50%;
    width: 6vw;
    height: 3vh;
    top: 7vh;
    left: 10.7vw;

}
.left, .right, .top, .bottom {
    position: absolute;
    border: 4px solid #dcdede;
    cursor: pointer;
}



.right{
    transform: rotate(-90deg);
    transform-origin: center right;
    border-top: 0;
    width: 6vw;
    height: 3vh;
    left: 12.5vw;
    top: 4.8vh;
    background: #13110c;
}
.left{
    transform: rotate(90deg);
    transform-origin: center left;
    border-top: 0;
    width: 5.8vw;
    height: 3.4vh;
    top: 4.6vh;
    left: 6.5vw;
    background: #13110c;

}
.bottom{
    border-top: 0;
    z-index: 1;
    width: 6vw;
    height: 3vh;
    top: 10.2vh;
    left: 9.6vw;
    background: #13110c;

}
.top{
    border-bottom: 0;
    z-index: 1;
    width: 6vw;
    height: 3vh;
    left: 9.7vw;
    top: 3.51vh;
    background: #13110c;

}
.left:active , .right:active , .bottom:active{
    box-shadow:inset 0 -11px 8px 0px rgba(0,0,0,.3);
}
.top:active{
    box-shadow:inset 0 11px 8px 0px rgba(0,0,0,.3);
}
@media (orientation:landscape) and (min-device-width: 310px) and (max-device-width: 576px) {
		/*for any screen 576px or less, the following styles will apply Galaxy Note 10+ is 412px x 869px */
    #controller{
        width:700px;
        height:325px;
        margin:90px auto 0 auto;
        margin-left: 14vw;
        top:-3.7vh;
    }
  	#mainbuttons{
        bottom:32px;
        right:32px;
    }	
	.a, .b{
        width:75px;
        height:75px;
	}
	.a::after{
        left:54px;
    }
 	#selections-buttons{
        right:7px;
    }
   .row{
        width:180px;
        height:30px;
    }
	.bigger{
        content: '';
        height:73px;
        margin-bottom: 10px;
        background: #484a49;
        border-radius: 12px;
        width: 180px;
    }
    .select , .start{
        margin-top:5px;
        letter-spacing:1px;
    }
	 .select{
        right:12px;
    }
    .start-button{
        right:-2px;
        width:64px;
        height:25px;
        border-radius:15px;
        top: 44px;
    }
    .select-button{
        left:10px;
        top:130px;
        right:20px;
        width:64px;
        height:25px;
        border-radius:15px;
	}
    #directional-buttons{
        top:90px;
        left:80px;
    }
    .middle{
        top:35px;
        left:-3px;
        height:35px;
        width:35px;
    }
    .left , .right, .top, .bottom{
        width: 47px;
        height: 44px;
    }
    .right{
        left: -55vw;
    }
    .left{
        right:-16px;
	}
    .bottom{
        top:75px;
        width: 53px;
        margin-left: -16px;
    }
    .top{
        top:-21px;
        width: 53px;
        margin-left: -16px;
    }
}
@media (max-width: 850px){
}
@media (max-width: 1200px){
}
@media (max-width: 1920px){
}
@media (min-height: 1920px) {
    #controller {
        width: 90vw;
        height: 22vh;
        margin: 90px auto 0 auto;
        top: 53.3vh;
    }

    #mainbuttons {
        bottom: 1vh;
        right: 2vw;
    }

    .a, .b {
        width: 9vw;
        height: 5vh;
    }

    .a::after, .b::after {
        left: 13.3vw;
        height: 7.4vh;
    }

    .a::after {
        left: 4.3vw;
        color: black;
    }

    #selections-buttons {
        width: 35vw;
    }

    .row {
        width: 35vw;
        height: 1.8vh;
    }

    #directional-buttons {
        top: 12vh;
        left: 18vw;
    }

    .middle {
        top: -3.2vh;
        left: -8vw;
        height: 3vh;
        width: 7vw;
    }

    .left, .right, .top, .bottom {
        width: 8vw;
        height: 3.7vh;
    }

    .right {
        left: -6.2vw;
        top: -6vh;
    }

    .left {
        right: 3vw;
        top: -6vh;
    }

    .bottom {
        top: 0.7vh;
        width: 8vw;
        margin-left: -9.6vw;
    }

    .top {
        top: -8vh;
        width: 8vw;
        margin-left: -9.6vw;
    }
}